/* Styles for struct.html and rvgref.html */

  .subhd h2 {         /* Same as h2.methods but different background-color */
    margin-top: 2em;
    margin-bottom: .5em;
    padding: .5em 5px .5em 5px;
    background-color: #545454;
    color: white;
    clear: both;
  }
  .subhd h3 {          /* Same as h2.methods */
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em 5px .5em 5px;
    background-color: #663;
    color: white;
  }
    .sig h4, .sig p {
    background-color: #c0c0c0;
    color: #000;
    margin-top: 0;
  }

  .sig h4 {   /* method name: total width 210px */
    width: 205px;
    float: left;
    padding-left: 5px;
    font-size: 110%;
  }

  .sig p {
    padding-right: 5px;
    padding-bottom: 1em;
  }

  .desc h5 {
  position: relative;
  left: -235px;
  padding-left: 5px;
  background-image: url(../ex/images/graydient230x6.gif);
  background-repeat: repeat-y;
  color: black;
  font-weight: normal;
  font-size: small;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  }


  .intro p {
    padding-bottom: 1em;
    margin-left: 215px;
  }

  .intro h3 {
    padding-left: 5px;
    background-color: white;
    background-image: url(../ex/images/graydient230x6.gif);
    background-repeat: repeat-y;
    color: black;
    font-weight: normal;
    font-size: small;
    padding-bottom: 0;
    margin: 0 0;
  }

