div.header {
    text-align: center;
    color: #666666;
    font-size: small;
    font-weight: bold;
    letter-spacing: .5em;
    padding-bottom: .4em
}
div.title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: .5em;
    padding-bottom: .4em
}

div.stdtitle {
   background-color: gray;
   font-size: x-large;
   font-weight: bold;
   color: white;
   line-height: 1.5;
}

.classname {
   text-align: center;
   background-color: gray;
   font-size: x-large;
   font-weight: bold;
   color: white;
   padding: 1em;
}
  
.classname2 {
   background-color: gray;
   font-size: large;
   font-weight: bold;
   color: white;
   padding-top: .5em;
   padding-bottom: .5em;
}

.methodsection {
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: #C3C3C3;
   font-size: large;
}

.methodsection2 {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   background-color: #C3C3C3;
}

.method {
   background-color: #DCDCDC;
}

.method2 {
   background-color: #DCDCDC;
}

.methodname {
   font-size: large;
   font-weight: bold;
   vertical-align: top;
}

.methodname2 {
   font-weight: bold;
}

/* Quoted from ImageMagick documentation */
blockquote.imquote {
/* color: #990000; */
 color: #005A9C;
 font-style: italic;
 text-indent: 1em;
}

.toc {
 padding-top: 1em;
 padding-bottom: 2em;
}

.example {
 background-color: #ccffff;
}

table.example {
 background-color: transparent;
 width: 80%;
}

.imversion {
 font-style: italic;
 font-size: small;
 /* font-weight: bold; */
 color: #ff9900;
}

.gmversion {
 font-style: italic;
 font-size: small;
 color: #008B45;
}

.imquote {
/* color: #990000; */
 color: #005A9C;
 font-style: italic;
}

dt {
	font-style: italic;
}

.nav {
 font-size: medium;
}

/* Change so visited links will show up on gray background */
a:visited {
    color: #9B9BFF;
}
